:root {
    --blue: blue;
    --black: black;
    --hotpink: hotpink;
}

.fade1
{
    bottom: 0;
    left: 0;
    width: 100%;
    height: 105px;
    background: linear-gradient(to bottom, transparent,white);
    pointer-events: none;
}

.mix-color {
    background-image: linear-gradient(to right,rebeccapurple , hotpink, mediumpurple, blue, lightskyblue);
    position: relative;
    color: var(--black);
    font-family: Arial, sans-serif;
    height: 125px;
    overflow: hidden;
}

.mix-color::before,
.mix-color::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 40%;
    height: 100px;
    background: radial-gradient(ellipse at bottom left, white 0%, transparent 30%);
    z-index: 1;
    pointer-events: none;
}

.mix-color::after {
    background: radial-gradient(ellipse at bottom right, white 0%, transparent 70%);
    right: 0;
    left: auto;
}

.btn1 {
    border-color: #6f42c1;
}

.bi-globe {
    color: #6f42c1;
}

.btn2 {
    border-color: #0b5ed7;
    background-color: lightcyan;
}

.bi-linkedin {
    color: #0b5ed7;
}

.btn3 {
    border-color: orangered;
    background-color: lightyellow;
}

.github {
    color: black;
}

.figma {
    color: orangered;
}

ul {
    list-style: none;
    padding-left: 0;
}

ul li::before {
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    background-color: #adb5bd;
    border-radius: 3px;
    margin-right: 8px;
    vertical-align: middle;
}

.bi-envelope-fill, .bi-link-45deg {
    color: black;
}

.mark1::before
{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translateY(-50%);
    width: 93.5%;
    height: 4px;
    background-color: #d8b4fe;
    z-index: -1;
}
.bi-calendar4-event {
    line-height: 1;
!important;
}

@media (min-width: 768px) {
    .move1 {
        left: -33.7px;
    }

    .move2 {
        left: -51.5px;
    }

    .move3 {
        left: -7px;
    }

    .move4 {
        left: -12px;
    }

    .move5 {
       left: -9.5px;
    }

    .move6 {
        left: -11px;
    }
    .move7
    {
        left: -10px;
    }
    .move8
    {
        left: -10px;
    }
    .move9
    {
        right: -70px;
    }
    .move10
    {
        right: -72px;
    }
    .up1 {
        top: -12px;
    }

    .up2 {
        top: -12px;
    }

    .up3 {
        top: -24px;
    }

    .up4 {
        top: -36px;
    }

    .up5 {
        top: -37px;
    }
    .up6
    {
        top: -25px;
    }
    .up7
    {
        top: -95px;
    }
    .col-3
    {
        left: -85px;
        bottom: -7px;
    }
    .ms-1
    {
        top: -1px;
    }
}
@media (max-width: 768px) {
    .responsive-move
    {
        left: 15px;
    }
}

a:hover {
    color: forestgreen;
    text-decoration-color: #d63384;
}

.responsive-border {
    width: 72%;
    max-width: 1050px;
}
body {
    overflow-x: hidden;
}

.img-small {
    width: 15px;
    height: 15px;
    top: -1px;
}

.rounded-1 {
    padding: 2px;
}